@page "/about-us"
@inject UserPreferences UserPreferencesInstance

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to GreenPaws</h1>
            <p>Welcome to GreenPaws, your one-stop destination for compassionate and nutritious care for your beloved pets! Our passion for animals drives us to provide specialized vegetarian services tailored to your furry friends.</p>
            <p>At GreenPaws, we understand that each pet is unique, which is why we offer a range of plant-based meal plans designed to meet their specific nutritional needs. Our expertise in animal well-being ensures that your dogs, and even other animals under your care, receive the best possible care and attention.</p>
            <p>With our deep-rooted commitment to promoting a healthy and cruelty-free lifestyle, GreenPaws is here to guide you on the journey towards providing your pets with wholesome and sustainable nutrition. Join us in creating a happier, healthier world for your pets, one plant-based meal at a time!</p>
        </div>
        <div class="col">
            <h1>Meet Our Team</h1>
            <ul>
                <li>
                    <span class="employee">Dr. Emily Rodriguez</span><br>
                    Veterinarian & Co-Founder
                </li>
                <li>
                    <span class="employee">Sarah Anderson</span><br>
                    Pet Nutritionist
                </li>
                <li>
                    <span class="employee">Michael Chen</span><br>
                    Animal Care Specialist
                </li>
                <li>
                    <span class="employee">Alexa Williams</span><br>
                    Customer Relations Manager
                </li>
            </ul>
        </div>
        <p>
            <a href="https://www.freepik.com/free-vector/cute-pets-illustration_16276919.htm#query=pet%20background&position=2&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik
        </p>
    </div>
</div>

@code
{

    protected override async Task OnInitializedAsync()
    {
        UserPreferencesInstance.PreferencesChanged += OnUserPreferencesChange;
    }

    private void OnUserPreferencesChange(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
