@page "/login"
@using APP.Data.services.Interfaces;
@using APP.States;
@using static APP.Data.models.models;
@inject IUserService userService;
@inject LoggedUserState LoggedUserState

<h3>Login</h3>

@code {

    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    public async Task LoadDataAsync()
    {
        users = await userService.GetAllUsersList();
        LoggedUserState.LoggedUser = users.FirstOrDefault();
    }
}
