@page "/OurServices"
@inject UserPreferences UserPreferencesInstance

<div class="container">
    <h1>Our Services</h1>
    <div class="service">
        <h2>Specialized Canine Care</h2>
        <p style="@UserPreferencesInstance.PStyleTag">Our expertise lies in providing tailored care for dogs of all breeds. Whether it's routine checkups, vaccinations, or specialized treatments, we ensure your canine companions receive the highest quality care.</p>
    </div>
    <div class="service">
        <h2>Suburban Pet Care</h2>
        <p>While our specialization is dogs, we also extend our services to other suburban pets, including cats, rabbits, and more. Our compassionate approach ensures all pets receive the attention they deserve.</p>
    </div>
    <div class="service">
        <h2>Farm Class Animals</h2>
        <p>For farm class animals, we offer responsive and effective veterinary services. Though our primary focus is on suburban pets, we're here to provide care to farm animals as required, ensuring their well-being.</p>
    </div>
    <div class="service">
        <h2>Comprehensive Consultations</h2>
        <p>Our veterinary consultations go beyond physical health. We address behavioral concerns, offer dietary recommendations, and provide holistic guidance to ensure your pets lead happy, healthy lives.</p>
    </div>
</div>

@code 
{

    protected override async Task OnInitializedAsync()
    {
        UserPreferencesInstance.PreferencesChanged += OnUserPreferencesChange;
    }

    private void OnUserPreferencesChange(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
