@page "/test-page"
@using APP.Services;
@using APP.Data.Models;
@using Newtonsoft.Json;

@inject IInvitedUserService invitedUserService;
@inject IUserService userService;
@inject LoggedUserState userState;
@inject IMeetingService meetingService;

<h3>TestPage</h3>

<p>Username: @userState.LoggedUser.LoginUsername</p>


@code {
    List<InvitedUser> users;
    List<Meeting> meetings = new();
    bool? notification = null;
    public async Task GetInvitedUsers()
    {
        users = await invitedUserService.GetInvitedUserById(userState.LoggedUser.UserID);
        users = users.Where(invite => invite.Accepted == null).ToList();
        notification = users[0] != null ? true : false;
    }

    public string ConvertToString(InvitedUser user)
    {
        return JsonConvert.SerializeObject(user);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetInvitedUsers();
        foreach(var user in users)
        {
            await GetMeetings(user.MeetingID);
        }

    }

    public async Task GetMeetings(int meetingId)
    {
        var response = await meetingService.GetMeetingsByMeetingId(meetingId);
        meetings.AddRange(response);
    }
}
