USE [master]
GO
/****** Object:  Database [ICTPRG438-Veterinarian-DB]    Script Date: 1/11/2022 10:43:38 AM ******/
CREATE DATABASE [ICTPRG438-Veterinarian-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ICTPRG438-Veterinarian-DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ICTPRG438-Veterinarian-DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ICTPRG438-Veterinarian-DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ICTPRG438-Veterinarian-DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICTPRG438-Veterinarian-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ICTPRG438-Veterinarian-DB]
GO
/****** Object:  User [VeterinarianWebApp]    Script Date: 1/11/2022 10:43:38 AM ******/
CREATE USER [VeterinarianWebApp] FOR LOGIN [VeterinarianWebAPPDB] WITH DEFAULT_SCHEMA=[db_datareader]
GO
/****** Object:  Table [dbo].[InvitedPet]    Script Date: 1/11/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitedPet](
	[InvitedPetID] [int] NOT NULL,
	[PetID] [int] NOT NULL,
	[InviteID] [int] NOT NULL,
	[MeetingID] [int] NOT NULL,
 CONSTRAINT [PK_InvitedPet] PRIMARY KEY CLUSTERED 
(
	[InvitedPetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitedUser]    Script Date: 1/11/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitedUser](
	[InviteID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[MeetingId] [int] NOT NULL,
	[Accepted] [bit] NOT NULL,
	[ResponseDate] [datetime] NOT NULL,
 CONSTRAINT [PK_InvitedUser] PRIMARY KEY CLUSTERED 
(
	[InviteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 1/11/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[MeetingID] [int] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[MeetingDate] [datetime] NOT NULL,
	[MeetingLocation] [varchar](max) NULL,
	[MeetingCreationDate] [datetime] NOT NULL,
	[MeetingCancledDate] [datetime] NULL,
	[MeetingName] [varchar](max) NOT NULL,
	[MeetimeMessage] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Meeting] PRIMARY KEY CLUSTERED 
(
	[MeetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 1/11/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[PetName] [varchar](max) NOT NULL,
	[PetBreed] [varchar](max) NOT NULL,
	[PetAge] [int] NOT NULL,
	[PetGender] [varchar](max) NOT NULL,
	[PetPhotoFileLocation] [varchar](max) NULL,
	[PetDiscoverability] [bit] NOT NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 1/11/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](max) NOT NULL,
	[Surname] [varchar](max) NOT NULL,
	[PhoneNumber] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Suburb] [varchar](max) NOT NULL,
	[Postcode] [varchar](max) NOT NULL,
	[LoginUsername] [varchar](max) NOT NULL,
	[LoginPassword] [varchar](max) NOT NULL,
	[WebpageAnimalPreference] [varchar](max) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK_InvitedPet_InvitedUser] FOREIGN KEY([InviteID])
REFERENCES [dbo].[InvitedUser] ([InviteID])
GO
ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK_InvitedPet_InvitedUser]
GO
ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK_InvitedPet_Meeting] FOREIGN KEY([MeetingID])
REFERENCES [dbo].[Meeting] ([MeetingID])
GO
ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK_InvitedPet_Meeting]
GO
ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK_InvitedPet_Pet] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([PetID])
GO
ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK_InvitedPet_Pet]
GO
ALTER TABLE [dbo].[InvitedUser]  WITH CHECK ADD  CONSTRAINT [FK_InvitedUser_InvitedUser] FOREIGN KEY([InviteID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[InvitedUser] CHECK CONSTRAINT [FK_InvitedUser_InvitedUser]
GO
ALTER TABLE [dbo].[InvitedUser]  WITH CHECK ADD  CONSTRAINT [FK_InvitedUser_Meeting] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meeting] ([MeetingID])
GO
ALTER TABLE [dbo].[InvitedUser] CHECK CONSTRAINT [FK_InvitedUser_Meeting]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_UserAccount] FOREIGN KEY([UserCreated])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_UserAccount]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Owner] FOREIGN KEY([PetID])
REFERENCES [dbo].[UserAccount] ([UserID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Owner]
GO
USE [master]
GO
