USE [master]
GO

-- Check if the login exists before creating it
IF NOT EXISTS (SELECT name FROM sys.server_principals WHERE name = N'VetWebAppLogin')
BEGIN
	-- Create login
	CREATE LOGIN [VetWebAppLogin] WITH PASSWORD=N'cjt5jnc!cdm7WQV.qwp', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
END
GO

-- Check if the database exists before creating it
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'VETDB')
BEGIN
	-- Create DB
    CREATE DATABASE [VETDB];
END
GO

USE [VETDB]
GO

IF NOT EXISTS (SELECT name FROM sys.database_principals WHERE name = N'VetWebAppUser')
BEGIN
	CREATE USER [VetWebAppUser] FOR LOGIN [VetWebAppLogin] WITH DEFAULT_SCHEMA=[dbo]
	ALTER ROLE [db_datareader] ADD MEMBER [VetWebAppUser]
	ALTER ROLE [db_datawriter] ADD MEMBER [VetWebAppUser]
END
GO

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'AppPreferences')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[AppPreferences](
		[UserID] [int] NOT NULL,
		[WebpageAnimalPreference] [varchar](255) NULL,
		[SelectedFont] [varchar](255) NULL,
		[SelectedFontSize] [varchar](255) NULL,
	 CONSTRAINT [PK_AppPreferences] PRIMARY KEY CLUSTERED 
	(
		[UserID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'InvitedPet')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[InvitedPet](
		[InvitedPetID] [int] IDENTITY(1,1) NOT NULL,
		[PetID] [int] NOT NULL,
		[MeetingID] [int] NOT NULL,
		[InviteID] [int] NOT NULL,
	 CONSTRAINT [PK__InvitedP__BA74B7723B9CC644] PRIMARY KEY CLUSTERED 
	(
		[InvitedPetID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'InvitedUser')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[InvitedUser](
		[InviteID] [int] IDENTITY(1,1) NOT NULL,
		[UserID] [int] NOT NULL,
		[MeetingID] [int] NOT NULL,
		[Accepted] [bit] NULL,
		[ResponseDate] [datetime] NULL,
	 CONSTRAINT [PK__InvitedU__AFACE80D549C1825] PRIMARY KEY CLUSTERED 
	(
		[InviteID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Meeting')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[Meeting](
		[MeetingID] [int] IDENTITY(1,1) NOT NULL,
		[UserCreated] [int] NOT NULL,
		[MeetingDate] [datetime] NULL,
		[MeetingLocation] [varchar](255) NULL,
		[MeetingCreationDate] [datetime] NULL,
		[MeetingCancellationDate] [datetime] NULL,
		[MeetingName] [varchar](255) NULL,
		[MeetingMessage] [varchar](max) NULL,
	 CONSTRAINT [PK__Meeting__E9F9E9AC6ED1A5A1] PRIMARY KEY CLUSTERED 
	(
		[MeetingID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Pet')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[Pet](
		[PetID] [int] IDENTITY(1,1) NOT NULL,
		[OwnerID] [int] NOT NULL,
		[PetName] [varchar](255) NULL,
		[PetBreed] [varchar](255) NULL,
		[PetAge] [int] NULL,
		[PetGender] [varchar](10) NULL,
		[PetDiscoverability] [bit] NOT NULL,
		[PetPhoto] [varbinary](max) NULL,
		[PetPhotoFileLocation] [varchar](255) NULL,
	 CONSTRAINT [PK__Pet__48E53802F8676B27] PRIMARY KEY CLUSTERED 
	(
		[PetID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'User')
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	CREATE TABLE [dbo].[User](
[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[Surname] [varchar](255) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](255) NULL,
	[Suburb] [varchar](255) NULL,
	[Postcode] [varchar](10) NULL,
	[LoginUsername] [varchar](255) NOT NULL,
	[LoginPassword] [varchar](255) NOT NULL,
	[AddressLine1] [varchar](255) NULL,
	[AddressLine2] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	 CONSTRAINT [PK__User__1788CCAC593A0EDB] PRIMARY KEY CLUSTERED 
	(
		[UserID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	 CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
	(
		[Email] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	 CONSTRAINT [UQ_LoginUsername] UNIQUE NONCLUSTERED 
	(
		[LoginUsername] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'AppPreferences' AND [COLUMN_NAME] = 'UserID')
BEGIN
	ALTER TABLE [dbo].[AppPreferences]  WITH CHECK ADD  CONSTRAINT [FK_AppPreferences_User] FOREIGN KEY([UserID])
	REFERENCES [dbo].[User] ([UserID])
	ALTER TABLE [dbo].[AppPreferences] CHECK CONSTRAINT [FK_AppPreferences_User]

END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'InvitedPet' AND [COLUMN_NAME] = 'InviteID')
BEGIN 
	ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK__InvitedPe__Invit__31EC6D26] FOREIGN KEY([InviteID])
	REFERENCES [dbo].[InvitedUser] ([InviteID])
	ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK__InvitedPe__Invit__31EC6D26]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'InvitedPet' AND [COLUMN_NAME] = 'MeetingID')
BEGIN
	ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK__InvitedPe__Meeti__30F848ED] FOREIGN KEY([MeetingID])
	REFERENCES [dbo].[Meeting] ([MeetingID])
	ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK__InvitedPe__Meeti__30F848ED]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'InvitedPet' AND [COLUMN_NAME] = 'PetID')
BEGIN
	ALTER TABLE [dbo].[InvitedPet]  WITH CHECK ADD  CONSTRAINT [FK__InvitedPe__PetID__300424B4] FOREIGN KEY([PetID])
	REFERENCES [dbo].[Pet] ([PetID])
	ALTER TABLE [dbo].[InvitedPet] CHECK CONSTRAINT [FK__InvitedPe__PetID__300424B4]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'InvitedUser' AND [COLUMN_NAME] = 'MeetingID')
BEGIN
	ALTER TABLE [dbo].[InvitedUser]  WITH CHECK ADD  CONSTRAINT [FK__InvitedUs__Meeti__2D27B809] FOREIGN KEY([MeetingID])
	REFERENCES [dbo].[Meeting] ([MeetingID])
	ALTER TABLE [dbo].[InvitedUser] CHECK CONSTRAINT [FK__InvitedUs__Meeti__2D27B809]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'InvitedUser' AND [COLUMN_NAME] = 'UserID')
BEGIN
	ALTER TABLE [dbo].[InvitedUser]  WITH CHECK ADD  CONSTRAINT [FK__InvitedUs__UserI__2C3393D0] FOREIGN KEY([UserID])
	REFERENCES [dbo].[User] ([UserID])
	ALTER TABLE [dbo].[InvitedUser] CHECK CONSTRAINT [FK__InvitedUs__UserI__2C3393D0]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'Meeting' AND [COLUMN_NAME] = 'UserCreated')
BEGIN
	ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK__Meeting__UserCre__29572725] FOREIGN KEY([UserCreated])
	REFERENCES [dbo].[User] ([UserID])
	ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK__Meeting__UserCre__29572725]
END

IF NOT EXISTS(SELECT NULL FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE [TABLE_NAME] = 'Pet' AND [COLUMN_NAME] = 'OwnerID')
BEGIN
	ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK__Pet__OwnerID__267ABA7A] FOREIGN KEY([OwnerID])
	REFERENCES [dbo].[User] ([UserID])
	ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK__Pet__OwnerID__267ABA7A]
END